Tittle of the quiz / game : What type of traveller are you?

There are 3 types of possibles outcomes answers :

1. The Traditional Traveler
2. The Cultural Traveler
3. The Experimental Adventurer

If the guest answers most of A questions is going to be 1 if the guest answers most of the questions B is going to be 2 and if the guest answers most of it C the answer is going to be 3 so at the end the game must know which one is it

Also, find attached my logo to be placed in the bottom of the page in the middle.

Also, Find attached some pictures not sure if you can only add one or if you can add one to each question ? if you need more I find them on https://pixabay.com for free I just type travel

Questions:

1.Your luggage consists of:

A. Accessories, iPhone, magazine
B. A book, swimsuit, and sunglasses
C.A pair of hiking boots, Jackets and backpack

2.After a long day of work, you usually:
A. Cook dinner and watch your favourite movie
B.Study a new language or watch a documentary
C.Get dressed for your sports game or workout

3.On vacation, you are most likely to read
A. A novel
B. A book to prepare me for the trip ahead
C. Travel Journeys of a Lifetime
4.You wake up one morning, pack a bag, and fly anywhere in the world, where do you go?
A. Maui to take a refreshing stroll along the seaside streets of Lahaina and the stunning beaches of Kaanapli
B. Alaska to take a glacier tour, enjoy nature and find mysterious petroglyphs
C.Petra which is an entire city carved out of a stone canyon, built by an ancient Arab civilization.

5.You’re on vacation and it’s late. You still haven’t eaten dinner so you:
A.Head back to your room and order room service
B.Ask a local to suggest an authentic ethnic restaurant
C.Find the busiest restaurant and take a seat at the bar

6.On vacation, you would rather:
A.Enjoy an afternoon at the spa in the Bahamas
B. Explore the cobblestoned streets of old villages in Prague
C.Whitewater raft in Costa Rica

7.To enjoy the outdoors, you:
A. Socialize in Central Park
B.Enjoy a coffee on a patio in Venice
C. Go skiing / snowboarding to Whistler

8.You’re on vacation. Where do you stay?
A.At an all-inclusive resort
B.I find a boutique hotel or local bed and breakfast
C. Nowhere specific. I go with the flow

9.What transportation would you rather have in your vacation?
A. Anything arranged by the hotel
B. Local driver
C. When I get there, I will see what I find
10.Where would you rather live?

A. Nothing compares to my country
B. Europe. The culture is my thing
C. Anywhere exotic
the end result will depend on what the selected. if they selected more A the answer is The Traditional Traveler . If they selected more B the answer is The Cultural Traveler and if they selected more C the answer is The Experimental Adventurer
it would be great if you can add what does it means:

Traditional: You are usually looking to unwind, disengage and you are not interested so much in local flavour or local customs and the culture. You love to simply sit on the beach and relax, read a book, play golf or just rest. You are not opposed to foreign locations but you are not interested in being immersed deeply in a new culture.You may just want to recharge your batteries before coming back home to your daily routine.

The Cultural Traveler: You are looking for meaning within other cultures. Inquisitive and inquiring, you get beneath the exterior of strange new worlds and seek to get the most learning experience out of a destination as possible. You are willing to risk in order to gain experience, you will have deep desires to engage a different culture and find deeper meaning within it. You love to be in the outdoors and connect with nature and learn as much as you can from your travels.

The Experimental Adventurer: You are not only willing to try new things but almost actively seeks them. You are looking for meaning outside your present existence and are willing to try every destination rather than not travel at all. You find meaning in a new culture and keep looking even deeper in order to engage in it long term . You are always thinking about travelling , may be back home pining for that favourite city or country, favourite beach or mountain trip and actively saves for another trip to the same spot or even a new destination as an experiment. You love to try new things, new foods , new places , new activities, you are all inn.